@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 97vh;
    background: rgb(16, 120, 185);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    margin: 20px;
}

header > h1{
    text-align: center;
    color: white;


}

div#mensagem{
    margin: auto;
    height: 100px;
    width: 200px;
    
}

div#imagem{
    margin: auto;
    height: 50%;
    margin: 10px;

}

#imagem>img{
    width: 55%;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);

}

section{
    margin: auto;
    background: white;
    height: 300px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.358);
    padding: 10px;

    
}

footer{
    margin-top: 30px;
    color: white;
    text-align: center;

}